<div class="accordion-wn-wp">
    <div class="accordion-hd">
        <h2>Assignments</h2>
        <p>
            Make sure to give the available color in accordion collapse's
            data-attribute
        </p>
    </div>
    <div class="vw-ml-action-ls text-right mg-t-20">
        <div class="btn-group ib-btn-gp active-hook nk-email-inbox mg-t-20">
            <a href="/exams/class/<%= classId%>/new" class="btn btn-primary btn-sm waves-effect">
                <i class="notika-icon notika-note"></i> New Assignment
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <%if(exams.length > 0){%>
            <div class="accordion-stn">
                <div class="panel-group" data-collapse-color="nk-green" id="accordionGreen" role="tablist"
                    aria-multiselectable="true">

                   
                              <%for(var [index, exam] of exams.entries()){%>
                    <div class="panel panel-collapse notika-accrodion-cus">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordionGreen" href="#accordion<%=exam._id%>"
                                    aria-expanded="true">
                                  <%=exam.title%>
                                </a>
                            </h4>
                        </div>
                        <div id="accordion<%=exam._id%>" class="collapse <%if(index == 0){%> in <%}%>" role="tabpanel">
                            <div class="panel-body">
                                <p class="typography-pre-line">
                                   <%=trunc(exam.instructions, 150, "...") %> 
                                </p>
                            <div class="file-download-system">
                            <div class="dw-st-ic mg-t-20">
                                <div class="dw-atc-sn">
                                    <span><i class="notika-icon notika-paperclip"></i> Attachment <i class="notika-icon notika-arrow-right atc-sign"></i></span>
                                </div>
                                <div class="dw-atc-sn">
                                    <a class="btn dw-al-ft" href="#">Download all in zip format <i class="notika-icon notika-file"></i></a>
                                </div>                              
                            </div>
                    </div>
                                <div class="vw-ml-action-ls text-right mg-t-20">
                                    <div class="
											btn-group
											ib-btn-gp
											active-hook
											nk-email-inbox
										">
                                        <a href="/exams/<%=classId%>/<%=exam._id%>" class="btn btn-default btn-sm waves-effect">
                                            <i class="notika-icon notika-menu"></i> More
                                        </a>

                                        <button class="
												btn btn-default btn-danger-hover btn-sm
												waves-effect
											" id="deleteBtn" data-id="">
                                            <i class="notika-icon notika-trash"></i>
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
  <%}%>
                     
                </div>
            </div>
              <%}%>
        </div>
    </div>
</div>