<!-- Breadcomb area Start-->
<div class="breadcomb-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="breadcomb-list">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="breadcomb-wp">
								<div class="breadcomb-icon">
									<i class="notika-icon notika-windows"></i>
								</div>

								<div class="breadcomb-ctn">
									<h2>Active Users</h2>
									<p>
										Welcome to Free SHS
										<span class="bread-ntd">Our System User</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
							<div class="breadcomb-report">
								<button
									data-toggle="tooltip"
									data-placement="left"
									title="Download Report"
									class="btn"
								>
									<i class="notika-icon notika-sent"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcomb area End-->



<% if(error != null ){%>
<!-- Tooltips area Start-->
<div class="tooltips-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="tooltips-inner">
					<div class="tooltips-hd tooltips-hdn">
						<h2>Server Error</h2>
						<%if(error != null){%>
						<p><%= error%></p>
						<%}%>
					</div>
					<div class="tooltips-ctn">
						<h4>Hover over the links below to see tooltips.</h4>
						<p>
							Tight pants next level
							<a href="#" data-toggle="tooltip" title="Another tooltip"
								>keffiyeh</a
							>
							you probably haven't heard of them. Photo booth beard raw
							denim
							<a href="#" data-toggle="tooltip" title="Another tooltip"
								>letterpress</a
							>
							vegan messenger bag stumptown. Farm-to-table seitan,
							mcsweeney's fixie sustainable quinoa 8-bit american apparel
							have a terry richardson vinyl
							<a
								href="#"
								data-toggle="tooltip"
								title="Another one here too"
								>chambray</a
							>. Beard stumptown, cardigans banh mi lomo thundercats.
							Tofu biodiesel williamsburg marfa, four loko mcsweeney's
							cleanse vegan chambray. A really ironic artisan whatever
							keytar,
							<a
								href="#"
								data-toggle="tooltip"
								title="Another one here too"
								>scenester</a
							>
							farm-to-table banksy Austin twitter handle freegan cred raw
							denimangersa single-origin coffee viral.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Tooltips area End-->

<%}else{ %> <%if(clients.length < 1){%>
<!-- Tooltips area Start-->
<div class="tooltips-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="tooltips-inner">
					<div class="tooltips-hd tooltips-hdn">
						<h2>Server Error</h2>

						<p>No Clients</p>
					</div>
					<div class="tooltips-ctn">
						<h4>Hover over the links below to see tooltips.</h4>
						<p>
							Tight pants next level
							<a href="#" data-toggle="tooltip" title="Another tooltip"
								>keffiyeh</a
							>
							you probably haven't heard of them. Photo booth beard raw
							denim
							<a href="#" data-toggle="tooltip" title="Another tooltip"
								>letterpress</a
							>
							vegan messenger bag stumptown. Farm-to-table seitan,
							mcsweeney's fixie sustainable quinoa 8-bit american apparel
							have a terry richardson vinyl
							<a
								href="#"
								data-toggle="tooltip"
								title="Another one here too"
								>chambray</a
							>. Beard stumptown, cardigans banh mi lomo thundercats.
							Tofu biodiesel williamsburg marfa, four loko mcsweeney's
							cleanse vegan chambray. A really ironic artisan whatever
							keytar,
							<a
								href="#"
								data-toggle="tooltip"
								title="Another one here too"
								>scenester</a
							>
							farm-to-table banksy Austin twitter handle freegan cred raw
							denimangersa single-origin coffee viral.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Tooltips area End-->

<%}else{%>

<!-- Data Table area Start-->
<div class="data-table-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="data-table-list">
					<!-- <div class="basic-tb-hd">
                            <h2>Basic Example</h2>
                            <p>It's just that simple. Turn your simple table into a sophisticated data table and offer your users a nice experience and great features without any effort.</p>
                        </div> -->
					<div class="table-responsive">
						<table
							id="data-table-basic"
							class="table table-hover table-striped"
						>
							<thead>
								<tr>
									<th>Surname</th>
									<th>Othername</th>
									<th>Username</th>
									<th>Community</th>
									<th>Previlage</th>
									<th>Join Date</th>
								</tr>
							</thead>
							<tbody>
								<% for (var client of clients){ %>
								<tr class="client" data-id="<%= client._id%>">
									<td><%= client.surname%></td>
									<td><%= client.othernames%></td>
									<td><%= client.username%></td>
                                    
									<td><%= client.community.name%></td>
									<td><%= role(client.previlege) %></td>
									<td>
										<%= moment(clients.createdAt).format('L'); %>
									</td>
								</tr>

								<%}%>
							</tbody>
							<tfoot>
								<tr>
									<th>Surname</th>
									<th>Othername</th>
									<th>Username</th>
									<th>Community</th>
									<th>Previlage</th>
									<th>Join Date</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Data Table area End-->

<%}%> <%}%>
