<div class="typography-list typography-mgn">
	<div class="modals-single">
		<div class="announcement-banner">
			<img
				src="<%= baseUrl%>/<%= classDetails.image%>"
				alt=""
				width="100%"
				height="290px"
			/><img
				class="announcement-banner-overlay"
				src="<%= announcement.image%>"
				alt=""
			/>
		</div>
	</div>

	<h2 class="mg-t-30"><%=announcement.header%></h2>
	<div class="typography-bd">
		<!-- <h3>
			Announced by me
		</h3> -->
		<p>
			<i class="notika-icon notika-alarm"> </i>Announced by <%if(user._id ==
			announcement.createdBy._id){%>me <%}else{%>
			<%=announcement.createdBy.othernames%>
			<%=announcement.createdBy.surname%> <%}%>
		</p>
		<p>
			<i class="notika-icon notika-refresh"> </i
			><%=moment(announcement.createdAt).format("MMM DD, YYYY, h:mm:ss a")%>
		</p>
	</div>

	<div class="contact-btn mg-t-10">
		<button type="button" class="btn btn-default btn-sm waves-effect">
			<i class="notika-icon notika-next"></i>
			Share
		</button>
		<%if( user._id == announcement.createdBy._id){%>
		<button
			type="button"
			id="btnEdit"
			class="btn btn-default btn-sm waves-effect"
		>
			<i class="notika-icon notika-next"></i>
			Edit
		</button>

		<%}%> <%if(user.previlege == "Administrator" || user._id ==
		announcement.createdBy._id){%>

		<button
			type="button"
			id="btnDelete"
			class="btn btn-danger-hover btn-sm waves-effect"
		>
			<i class="notika-icon notika-trash"></i>
			Delete
		</button>
		<%}%>
	</div>
	<p class="typography-pre-line mg-t-30"><%=announcement.message%></p>
</div>

<script type="text/javascript">
	// const announcementForm = document.getElementById("announcementForm");

	window.addEventListener("load", async () => {
		const read = "<%= announcement.read%>";
		const userId = "<%= user._id%>";
		if (!read.includes(userId)) {
			const read = await fetch(
				`<%=baseUrl %>/announcement/<%=announcement._id%>/`,
				{
					method: "PUT",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({}),
				}
			).then(response => response.json());
		}
	});

	const btnDelete = document.getElementById("btnDelete");

	$("#btnDelete").on("click", async() => {
		const remove = await fetch(
			`<%=baseUrl %>/announcement/delete/<%=announcement._id%>/`,
			{
				method: "DELETE",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({}),
			}
		).then(response => response.json());

		if (remove.status === "OK") {
			setTimeout(function () {
				swal({
					title: "Done",
					text: "Annoucement Deleted.",
					type: "success",
				})
					.then(() => {
						window.location =
							"/announcement/class/<%=classId%>/announcements";
					})
					.catch(() => {
						window.location =
							"/announcement/class/<%=classId%>/announcements";
					});
			}, 1000);
		} else {
			alert(remove.error);
			console.log(remove.error);
			$("#error-dialog").show();
		}
	});

	// announcementForm.addEventListener("submit", async e => {
	// 	e.preventDefault();

	// 	const header = document.getElementById("header").value;
	// 	const message = document.getElementById("message").value;

	// 	const annoucement = await fetch(
	// 		`<%=baseUrl %>/announcement/class/<%= classId %>/new`,
	// 		{
	// 			method: "POST",
	// 			headers: {
	// 				"Content-Type": "application/json",
	// 			},
	// 			body: JSON.stringify({ header, message }),
	// 		}
	// 	).then(response => response.json());

	// 	if (annoucement.status === "OK") {
	// 		setTimeout(function () {
	// 			swal({
	// 				title: "Done",
	// 				text: "Annoucement Made.",
	// 				type: "success",
	// 			})
	// 				.then(() => {
	// 					window.location.reload();
	// 				})
	// 				.catch(() => {
	// 					window.location.reload();
	// 				});
	// 		}, 1000);
	// 	} else {
	// 		alert(announcementt.error);
	// 		console.log(announcementt.error);
	// 		$("#error-dialog").show();
	// 	}
	// });

	// btnCancel.addEventListener("click", () => {
	// 	window.history.back();
	// });
</script>
