<!-- Breadcomb area Start-->
<div class="breadcomb-area">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="breadcomb-list">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="breadcomb-wp">
							<div class="breadcomb-icon">
								<i class="notika-icon notika-windows"></i>
							</div>

							<div class="breadcomb-ctn">
								<h2>Enrollment</h2>
								<p>
									Welcome to Free SHS
									<span class="bread-ntd"
										>configure a Whole New Community</span
									>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
						<div class="breadcomb-report">
							<button
								data-toggle="tooltip"
								data-placement="left"
								title="Download Report"
								class="btn"
							>
								<i class="notika-icon notika-sent"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcomb area End-->



<%if(classDetails.length > 0){%>
<div class="notika-email-post-area">

		<div class="row">
			<%for(var myClass of classDetails){%>

			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
				<div
					class="
						blog-inner-list
						notika-shadow
						mg-t-30
						tb-res-ds-n
						dk-res-ds
						class-card
					"
				>
					<div class="blog-img class-banner">
						<img src="<%= baseUrl%>/<%= myClass.image%>" alt="" />
					</div>
					<div class="blog-ctn">
						<div class="blog-hd-sw">
							<h2><%= myClass.name%></h2>

							<a class="bg-au" >INSTRUCTOR ~ <i>Explore More</i></a>
                             <a class="vw-at" href="/getClass/overview/<%= myClass._id%>">Explore More</a>
						</div>

						<a
							class="btn default btn-block waves-effect vw-at"
							href="/student/topics/<%= myClass._id%>"
							><i class="notika-icon notika-edit"></i> Continue Learning</a
						>
					</div>
				</div>
			</div>

			<%}%>
		</div>

</div>
<%}else{%>
<div class="typography-list typography-mgn">
	<h2>You Are Not Having Any Class AT The Moment</h2>
	<div class="typography-bd">
		<h3>
			Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
			Duis mollis, est non commodo luctus.
		</h3>
		<p>
			Pellentesque lacinia sagittis libero et feugiat. Etiam volutpat
			adipiscing tortor non luctus. Vivamus venenatis vitae metus et aliquet.
			Praesent vitae justo purus. In hendrerit lorem nisl, ac lacinia urna
			aliquet non. Quisque nisi tellus, rhoncus quis est sit amet, lacinia
			euismod nunc. Aenean nec nibh velit. Fusce quis ante in nisl molestie
			fringilla. Nunc vitae ante id magna feugiat condimentum. Maecenas sit
			amet urna massa.
		</p>
		<p class="tab-mg-b-0">
			Integer eu lectus sollicitudin, hendrerit est ac, sollicitudin nisl.
			Quisque viverra sodales lectus nec ultrices. Fusce elit dolor,
			dignissim a nunc id, varius suscipit turpis. Cras porttitor turpis
			vitae leo accumsan molestie. Morbi vitae luctus leo. Sed nec
			scelerisque magna, et adipiscing est. Proin lobortis lectus eu sem
			ullamcorper, commodo malesuada quam fringilla. Curabitur ac nunc dui.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
			inceptos himenaeos. Fusce sagittis enim eu est lacinia, ut egestas
			ligula imperdiet, ute egestas ligulan imperdiet.
		</p>
	</div>
</div>
<%}%>
